@import 'styles/vars';

.checkbox {
    cursor: pointer;
    margin-bottom: $unit-2;

    &__label {
        padding-left: $unit;
    }

    &__checkbox,
    &__label {
        cursor: pointer;
    }
}