@import 'styles/vars';
@import 'styles/colors';

.card {
    margin: $unit-2 0;
    padding: $unit-2;
    width: 30vw;
    height: 65dvh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;

    &__content {
        margin-top: $unit-3;
    }

    &__examples {
        margin-top: $unit-2;
    }

    &__actions {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: $unit-2;
    }
}