@import '../../../styles/vars';
@import '../../../styles/colors';

.card {
  border: 1px solid $pink;
  border-radius: 6px;
  margin: $unit-2 0;
  padding: $unit-2;
  width: 30vw;
  height: 50vh;
  min-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__description {
    margin-top: $unit-4;
  }

  &__word {
    margin-bottom: $unit;
  }

  &__translation {
    color: $text-secondary;

  }

  &__examples {
    margin-top: $unit-3;
  }

  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $unit-2;
  }
}