@import 'styles/vars';

.cards {
    margin: 0 auto;

    &__header {
        display: flex;
        flex-direction: column;
        gap: $unit-half;

        .speech-parts {
            display: flex;
            justify-content: flex-start;
            gap: $unit;
        }
    }

    &__back-button {
        align-self: flex-start;
    }

}