@import 'styles/vars';

.cards {
    margin: 0 auto;

    &__header {
        .speech-parts {
            display: flex;
            justify-content: flex-start;
            gap: $unit;
            margin-top: $unit;
        }
    }

    &__back-button {
        align-self: flex-start;
    }

    &__placeholder {
        width: 30vw;
        height: 65dvh;
        min-width: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}