@import 'styles/vars';
@import 'styles/colors';


.pair-content {
    margin-bottom: $unit-2;

    &__original {
        color: $white;
        margin-bottom: $unit-half;
    }

    &__translation {
        color: $text-secondary;
    }

    &:last-of-type {
        margin-bottom: 0;
    }
}