@import '../../styles/vars';

.speech-part-chooser {
    margin: 0 auto;

    &__title {
        text-align: center;
    }

    &__checkbox-list {
        padding: $unit-2 0 $unit-4 0;
        text-align: start;
    }
}