@import './styles/vars';
@import './styles/styles';

.App {
    text-align: center;
    background-color: #282c34;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: $font-size;
    color: $text;
}